/* ==UserStyle==
@name           hulu.com - 12/13/2018, 9:16:24 PM
@namespace      https://gitlab.com/7blink/Hulu-Userstyle
@version        1.0.0
@description    Hulu - remove network logo
@author         7Blink
==/UserStyle== */

@-moz-document domain("hulu.com") {
    .network-bug {
        display:none !important
    }
	.NetworkBug {
		display:none !important
	}
}
